<!DOCTYPE html>
<html>
<head>
<title>
	Ruby on Rails Tutorial 3 Twit App | Contact
</title>
</head>
<body>
	<h1>Twit App</h1>
	<p>
		Contact Ruby on Rails Tutorial about the Sample App at the
		<a href="http://railstutorial.org/feedback">feedback page</a> 
	</p>
</body>
</html>
